# Bytecode và các tệp biên dịch
*.class
*.jar
*.war

# Thư mục biên dịch
/target/
*/build/

# Thư mục và tệp của IDE
/.idea/
/*.iml
**/.settings/
/.metadata/
/.metadata/*
**/.classpath
**/.project
/.settings/


# Maven, Gradle
/target/
/*.log
/.mvn/
/.mvn/
/build/

# Thư viện phụ thuộc
lib/
dependency-reduced-pom.xml

# Các tệp tạm
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db

# Thông tin môi trường cục bộ
/.env
*.properties

# Tệp của hệ điều hành
desktop.ini

# Thư mục tạm của máy chủ
/tmp/
logs/

# Web resources
**/m2e-wtp/web-resources/
